:root {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  --primary-bg: #121316;
  --secondary-bg: #222529;
  --primary-accent: #01dfff;
  --secondary-accent: #01aff8;
  --third-accent: #1c222c;
  --text: #fff;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--text);
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.number-of-user {
  background: linear-gradient(55.32deg, #141618 14.17%, #1213165e 73.4%);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 4rem;
  text-align: center;
}
.number-of-user h4 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2.5rem 2rem;
}

.number-of-user h4 span {
  color: var(--secondary-accent);
}
.add-product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 2rem;
  width: 40%;
  background: linear-gradient(55.32deg, #141618 14.17%, #1213165e 73.4%);
}
.add-product h4 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-top: 2rem;
}
.add-product form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 2rem 2rem 2rem;
}

.add-product form input {
  border: 1px solid var(--text);
  color: var(--text);
  border-radius: 5px;
  height: 1.5rem;
  background: transparent;
}
.add-product form label {
  margin: 1rem 0;
}
#cardcolor {
  border: 1px solid var(--text);
}
#cardcolor,
#cardcolor option {
  background: transparent;
  width: 100%;
  color: var(--text);
}
option {
  background: var(--primary-bg) !important;
}

#product-image-btn {
  margin: 0;
  width: 1px;
  height: 1px;
  border: none;
  outline: none;
  box-shadow: none;
}
.picture-btn {
  border: 1px solid var(--text);
  border-radius: 10px;
  margin: 0rem !important;
  cursor: pointer;
  padding: 0.5rem;
  align-self: flex-start;
  color: var(--text);
}
.picture-btn:hover {
  transition: all 0.2s ease-in;
  background-color: #13171f;
  color: var(--secondary-accent);
  border: 1px solid var(--secondary-accent);
}
.confirm-btn {
  text-transform: capitalize;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 115);
  color: rgb(0, 255, 115);
  letter-spacing: 1.2px;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.2s ease-in;
}

.confirm-btn:hover {
  background-color: #13171f;
  border: 1px solid rgb(0, 218, 98);
  color: rgb(0, 218, 98);
}

.tables {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-bottom: 5rem;
}
.tables h4 {
  margin: 2rem;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}
.user-table,
.products-table {
  width: 100%;
}
.products-table::-webkit-scrollbar {
  width: 0.25rem;
  overflow-x: hidden;
}
.products-table::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}
.products-table::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
  border: 2px solid var(--secondary-accent);
  border-radius: 30px;
}
.user-table::-webkit-scrollbar {
  height: 0.9rem;
}
.user-table::-webkit-scrollbar-track {
  background: var(--secondary-bg);
}
.user-table::-webkit-scrollbar-thumb {
  background: var(--secondary-bg);
  border: 1px solid var(--secondary-accent);
  border-radius: 10px;
}
.user-table {
  overflow-x: scroll;
  width: 80%;
}
.table-head,
.table-body {
  width: 100%;
  margin: auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: linear-gradient(55.32deg, #141618 14.17%, #1213165e 73.4%);
}
.table-head,
.table-body,
.table-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-head {
  border-bottom: 3px solid var(--secondary-accent);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: space-evenly;
  width: 80rem;
  padding: 0;
}

.table-body {
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.table-row {
  align-self: flex-start;
  width: 80rem;
}
.table-col {
  flex: 1 1 0px;
}
.table-col h6 {
  color: #ffffff;
  font-weight: 400;
  padding: 0.5rem;
  text-transform: capitalize;
  font-size: 1rem;
  margin: auto;
  text-align: center;
}
.table-col input {
  background: none;
  height: 2rem;
  font-size: 0.9rem;
  text-align: center;
  outline: none;
  border: none;
  color: var(--text);
  width: 100%;
}
.table-col input:focus,
.table-col input:focus-visible {
  outline: none;
  border: none;
  background-color: var(--secondary-bg);
}

.id:focus {
  background-color: transparent;
}
.image-container {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.table-col img {
  width: 2rem;
  margin: auto;
}
#imageUpdatebtn {
  width: 90px;
  height: 20px;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.td-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.delete,
.update {
  width: 5rem;
}
.delete {
  background: none;
  border: 1px solid rgb(255, 36, 65);
  color: rgb(255, 36, 65);
  padding: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0.5rem 0;
}

.update {
  background: none;
  border: 1px solid rgb(0, 211, 63);
  color: rgb(0, 211, 63);
  padding: 0.5rem;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0.5rem 0;
}

.products-head {
  width: 60%;
}
.products-table .table-body {
  width: 60%;
}
.products-table .table-row {
  width: 100%;
}

.error_message {
  color: rgb(255, 36, 65);
  font-weight: 400;
  font-size: 1rem;
  margin: 0.5rem 0;
  transform: translateY(15px);
}

.success_message {
  color: rgb(0, 211, 63);
  font-weight: 400;
  font-size: 1rem;
  margin: 0.5rem 0;
  transform: translateY(15px);
}
.error_message_card {
  color: rgb(255, 36, 65);
  font-weight: 400;
  font-size: 1rem;
  margin: 0.5rem 0;
}

.success_message_card {
  color: #00d33f;
  font-weight: 400;
  font-size: 1rem;
  margin: 0.5rem 0;
}
@media screen and (max-width: 1024px) {
  .tables {
    width: 90%;
    margin: auto;
    overflow: scroll;
  }
  .products-table {
    overflow-x: scroll;
  }
  .products-head {
    width: 80%;
  }
  .products-table .table-body {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
  .products-head {
    width: 40rem;
  }
  .products-table .table-body {
    width: 40rem;
  }
}

@media screen and (max-width: 425px) {
  .products-table {
    width: 80%;
  }
}
