/* START HERO SECTION------------------------------------------------------------- */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero-text {
  font-size: 10rem;
  color: var(--text);
  font-family: "Mochiy Pop P One", sans-serif;
  transform: translate(18%, 90%);
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
}

.hero-img img {
  max-width: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background: linear-gradient(231deg, #00ffff 14.17%, #00d6ff 73.4%);
  clip-path: circle(66.3% at 89% 0%);
}
/* END HERO SECTION------------------------------------------------------------- */
/* START PRODUCTS SECTION------------------------------------------------------------- */
.store {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 7rem auto;
}

.store h2 {
  font-size: 1.5rem;
  letter-spacing: 2.5px;
  align-self: flex-start;
  font-family: "Carter One", cursive;
  color: var(--text);
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: -19px 33px 15px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  position: relative;
  margin: 3rem;
  padding: 1rem;
  color: var(--text);
}

.blue-box {
  background: linear-gradient(142.47deg, #00c9ff 6.87%, #146981 102.25%);
}
.red-box {
  background: linear-gradient(142.47deg, #fed601 6.87%, #ff2301 102.25%);
}
.purple-box {
  background: linear-gradient(142.47deg, #d700fa 6.87%, #6c1388 102.25%);
}

.card-title {
  position: absolute;
  top: 10%;
}

.card-title h2 {
  font-size: 2rem;
  font-family: "Carter One", cursive;
  letter-spacing: 2.5px;
}

.card-img {
  display: flex;
  justify-content: center;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.card-info p {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  margin-right: 1rem;
}

.product-btn {
  width: 9rem;
  height: 3.5rem;
  background: transparent;
  outline: none;
  border: 3px solid var(--text);
  color: var(--text);
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 2.5px;
  transition: all 0.2s ease-in;
  border-radius: 30px;
  margin-left: 1rem;
}

.product-btn:hover {
  color: var(--primary-bg);
  background-color: var(--text);
}
/* END PRODUCTS SECTION------------------------------------------------------------- */

/* START MEDIA QUERY------------------------------------------------------------- */

@media screen and (max-width: 1440px) {
  /* hero */
  .hero-text {
    font-size: 8rem;
  }

  .hero-img img {
    align-self: flex-start;
  }
  /* end of hero */
}

@media screen and (max-width: 1024px) {
  /* hero */
  .hero-text {
    font-size: 7rem;
  }

  .hero-img img {
    align-self: flex-start;
  }
  /* end of hero */
}

@media screen and (max-width: 768px) {
  /* hero */
  .hero {
    height: 100%;
    flex-direction: column;
    position: relative;
  }
  .hero-text {
    order: 2;
    transform: translate(0%, 0%);
  }
  .hero-img {
    order: 1;
  }
  .hero-img img {
    align-self: flex-start;
  }
  /* end of hero */
}
@media screen and (max-width: 425px) {
  /* hero */
  .hero-text {
    font-size: 6rem;
    transform: translate(50%, -50%);
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 2;
  }
  .hero-img {
    width: 100%;
  }
  .hero-overlay {
    display: none;
  }
  /* end of hero */
  /* products */
  .card {
    border-radius: 25px;
    width: 90%;
  }

  .card-title h2 {
    font-size: 1rem;
  }

  .card-img img {
    width: 80%;
  }

  .card-info {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .card-info p {
    margin-right: 0rem;
    margin: 1rem;
  }

  .product-btn {
    margin-left: 0;
    margin-bottom: 1rem;
    height: 2.5rem;
    width: 8rem;
    font-size: 14px;
  }
  /* end of products */
}

@media screen and (max-width: 320px) {
  /* hero */
  .hero-text {
    font-size: 4rem;
  }
  /* end of hero */
}
/* END MEDIA QUERY------------------------------------------------------------- */
