* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 100%;
}

.bg-img {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

form {
  color: var(--text);
  backdrop-filter: blur(5px);
  background: #1b1d21f7;
  padding: 1rem;
  border-radius: 30px;
  width: 40%;
  border: 1px solid var(--secondary-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form h2 {
  text-align: center;
  margin: 4rem;
  font-size: 2rem;
  letter-spacing: 2.5px;
  font-family: "Carter One", cursive;
}

.form-top,
.form-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 70%;
}

.form-top {
  margin-bottom: 1rem;
}

.form-bottom {
  margin: 4rem;
}
.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

label {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

form input {
  margin: 1rem;
  width: 100%;
  height: 2.5rem;
  background: none;
  color: var(--text);
  border: 1px solid var(--text);
  border-radius: 10px;
  transition: all 0.2s ease-in;
}
input:focus {
  border-radius: 0;
  box-shadow: 0.5rem 0.5rem var(--text);
}
#picture {
  margin: 0;
  width: 1px;
  height: 1px;
  border: none;
}
.picture-btn {
  border: 1px solid var(--text);
  border-radius: 10px;
  margin: 1rem auto;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.2s ease-in;
}
.picture-btn:hover {
  background-color: #13171f;
  color: var(--secondary-accent);
  border: 1px solid var(--secondary-accent);
}
form button {
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
  background: var(--secondary-bg);
  color: var(--text);
  border: none;
  outline: none;
  border-radius: 10px;
  text-transform: capitalize;
  cursor: pointer;
}

#login {
  padding: 1rem 2.5rem;
}

#login:hover {
  color: var(--primary-accent);
  background-color: #13171f;
}

#signUp {
  padding: 1rem 0;
}
#signUp a {
  transition: all 0.2s ease-in;
  padding: 2rem 2.5rem;
  color: var(--text);
  text-decoration: none;
}

#signUp:hover {
  background-color: #13171f;
}
#signUp:hover a {
  color: rgb(255, 29, 29);
}

#errorMsg {
  color: rgb(255, 29, 29);
  text-align: center;
  border: none;
  font-size: 1.1rem;
  box-shadow: none;
}

#errorMsg:focus {
  outline: none;
}

footer {
  width: 100%;
}

@media screen and (max-width: 1360px) {
  form button {
    font-size: 1rem;
  }

  #login {
    padding: 1rem 1.5rem;
  }
  #signUp a {
    padding: 0rem 1.5rem;
  }
  form {
    width: 60%;
  }
}

@media screen and (max-width: 934px) {
  .bg-img {
    width: 80%;
  }
}
@media screen and (max-width: 768px) {
  form {
    width: 70%;
  }
  .form-bottom {
    width: 90%;
  }
  footer {
    margin-bottom: 0rem;
  }
}
@media screen and (max-width: 520px) {
  form {
    width: 100%;
    background: #2a2b2e85;
  }
  .bg-img {
    display: none;
  }
  .form-top,
  .form-middle {
    width: 90%;
  }
}
